- @body_id = 'Acquisitions'
%title
  Acquisitions | TULA

#acquisitions_container
  #acquisitions_year_select
    %h1
      %h3
        Year:
        %select
          - @years.each do |year|
            %option{:value => year, :selected => @years.first == year}
              = year
  %h1
    %span#selected_year
    Acquired Companies
  %p.acquisition_subheader
    Schedule of companies invested in that have been acquired or merged since the start of
    %span#selected_year
  - @years.each do |year|
    %div.acquisition_year{:id => year.to_s + "_acquisitions"}
      %table.why_table.acquisitions_table
        %tr
          %th Company
          %th Price at 1/1/#{(year % 100).to_s}
          %th Buy Out Price
          %th Return
        - @acquisitions[year].each do |acquisition|
          %tr
            %td
              #{acquisition.company}
            %td
              #{number_to_currency(acquisition.initial_price, :unit => "$", :precision => 2)}
            %td
              #{number_to_currency(acquisition.acquisition_price, :unit => "$", :precision => 2)}
            %td
              #{((acquisition.return)*100).round(1)}%
      #acquisition_notes
        %p.why_dislosure
          = @disclosures[year]
