= javascript_include_tag 'Chart.js'
- @body_id = 'why_tula'
%title
  Why | TULA

#why_tula_container
  %h1
    Why TULA Investment Group?
  %h3
    Historic Return on Investment: TULA vs S&P 500*

  %canvas#myChart
  #return_percent_table_container
    %p
      Historical Rate of Return vs. S&P 500 Index:
    %table.why_table.return_percent
      %tr
        %th Year
        %th S&P 500
        %th TULA
      - r = HistoricReturn.where("year >= ?", 1994).order(:year)
      - r.each do |i|
        %tr
          %td 
            #{i.year}
          %td
            #{(i.sp500_return*100).to_i}%
          %td 
            #{(i.tula_return*100).to_i}%
      %tr
        %td
          #{r.count} Year Avg
        %td
          #{(r.average(:sp500_return)*100).round(1)}%
        %td
          #{(r.average(:tula_return)*100).round(1)}%

  #return_dollar_table_container
    %p
      Return on $10,000 Invested at the end of 1994:
    %table.why_table.return_dollar
      %tr
        %th Year
        %th S&P 500
        %th TULA
      - a = b = 10000
      %tr
        %td 
          #{r[0].year-1}
        %td 
          #{number_to_currency(a, :unit => "$", :precision => 0)}
        %td
          #{number_to_currency(b, :unit => "$", :precision => 0)}
      - r.each do |i|
        %tr
          %td
            #{i.year}
          %td
            - a = ((i.sp500_return+1)*a)
            #{number_to_currency(a, :unit => "$", :precision => 0)}
          %td 
            - b = ((i.tula_return+1)*b)
            #{number_to_currency(b, :unit => "$", :precision => 0)}
  #return_disclosure
    %p.why_dislosure
      %span
        *Note: 
      TULA's historic return figures are derived from TULA's largest and oldest client and are representative of TULA's performance in general. The figures are gross numbers without any deduction for management fees. 2014 return last updated for May.
