= javascript_include_tag 'Chart.js'

%h1
  Why TULA Investment Group?
%h2 
  Historic Return on Investment vs S&P 500

%canvas#myChart

%table.return.percent
  %tr
    %th Year
    %th S&P 500
    %th TULA
  - r = HistoricReturn.where("year >= ?", 1994)
  - r.each do |i|
    %tr
      %td 
        #{i.year}
      %td
        #{(i.tula_return*100).to_i}%
      %td 
        %strong #{(i.sp500_return*100).to_i}%
  %tr
    %td
      #{r.count} Year Avg
    %td
      #{(r.average(:tula_return)*100).round(1)}%
    %td
      #{(r.average(:sp500_return)*100).round(1)}%

%table.return.dollar
  %tr
    %th Year
    %th S&P 500
    %th TULA
  - a = b = 10000
  %tr
    %td 
      #{r[0].year-1}
    %td 
      #{number_to_currency(a, :unit => "$", :precision => 0)}
    %td
      #{number_to_currency(b, :unit => "$", :precision => 0)}
  - r.each do |i|
    %tr
      %td
        #{i.year}
      %td
        - a = ((i.tula_return+1)*a)
        #{number_to_currency(a, :unit => "$", :precision => 0)}
      %td 
        - b = ((i.sp500_return+1)*b)
        #{number_to_currency(b, :unit => "$", :precision => 0)}
