= javascript_include_tag 'Chart.js'
- @body_id = 'why_tula'
%title
  Why | TULA

#why_tula_container
  %h1
    Why TULA Investment Group?
  %h3
    Historic Return on Investment: TULA vs S&P 500*

  %canvas#myChart
  #return_percent_table_container
    %p
      Historical Rate of Return vs. S&P 500 Index:
    %table.why_table.return_percent
      %tr
        %th Year
        %th S&P 500
        %th TULA
      - @historic_returns.each do |year|
        %tr
          %td 
            #{year.year}
          %td
            #{(year.sp500_return*100).to_i}%
          %td 
            #{(year.tula_return*100).to_i}%
      %tr
        %td
          #{@historic_returns.count} Year Avg
        %td
          #{(@historic_returns.average(:sp500_return)*100).round(1)}%
        %td
          #{(@historic_returns.average(:tula_return)*100).round(1)}%

  #return_dollar_table_container
    %p
      Return on #{number_to_currency(@initial_investment, :unit => "$", :precision => 0)} Invested at the end of 1994:
    %table.why_table.return_dollar
      %tr
        %th Year
        %th S&P 500
        %th TULA
      - sp500 = tula = @initial_investment
      %tr
        %td 
          #{@historic_returns[0].year-1}
        %td 
          #{number_to_currency(sp500, :unit => "$", :precision => 0)}
        %td
          #{number_to_currency(tula, :unit => "$", :precision => 0)}
      - @historic_returns.each do |year|
        %tr
          %td
            #{year.year}
          %td
            - sp500 *= (year.sp500_return+1)
            #{number_to_currency(sp500, :unit => "$", :precision => 0)}
          %td 
            - tula *= (year.tula_return+1)
            #{number_to_currency(tula, :unit => "$", :precision => 0)}
  #return_disclosure
    %p.why_dislosure
      %span
        *Note: 
      TULA's historic return figures are derived from TULA's largest and oldest client and are representative of TULA's performance in general. The figures are gross numbers without any deduction for management fees.
