#header
  = link_to root_path do
    %h1 
      %span TULA
      Investment Group
  #nav_bar
    %ul
      = link_to home_path, :class => "#{active_class('home')}" do
        %li Home
      %li About
      %li Investment Prospectus
      %li 
        = link_to 'Contact', contact_path, :class => "#{active_class('contact')}"
      %li Blog
