#header
  #header_title
    = link_to root_path do
      %h1 
        %span TULA
        Investment Group
  #nav_bar
    %ul
      = link_to home_path, :class => "#{active_class('home')}" do
        %li#nav_home Home
      = link_to about_path, :class => "#{active_class('about')}" do
        %li#nav_about About
      = link_to why_path, :class => "#{active_class('why')}" do
        %li#nav_why.has_sub_nav Why TULA
      = link_to prospectus_path, :class => "#{active_class('prospectus')}" do
        %li#nav_prospectus Prospectus
      = link_to contact_path, :class => "#{active_class('contact')}" do
        %li#nav_contact Contact
      = link_to blog_posts_path, :class => "#{active_class('blog')}" do
        %li#nav_blog Blog
      = link_to terms_path, :class => "#{active_class('terms')}" do
        %li#nav_terms Terms
